body {
	background: #FDFDFD;
	font: 120%/1.5 georgia;
	text-align: justify;
	max-width: 35em;
	margin: 0 auto;
}

ul > li{
	background: silver;
	padding: 0.5em;
	margin: 0;
	list-style-type: none; 
	border-radius: 20% 20% 20% 20%;
	text-align: center;
	transition: 1s;
}

ul > li:hover{
	background: gold;
	border-radius: 100% 100% 100% 100%;
}

article > section > h1 {
	font-weight: bold
	font-size: 135%;
	text-shadow: 0 0 .1em gold;
}

.no-textshadow h1 {
	font-size: 150%;
	background: gray;
}

article > section {
	transition: .5s;
}

article > section:hover {
	border: 5px solid gold;
	border-radius: 1.5em;
	padding: 1em;
}

article > h1{
	font-weight: bold;
	font-size: 135%;
	text-shadow: 0 0 .1em #FF0000;
}


p + p {
	margin: -1em 0 1em;
	text-indent: 2em;
} 

ol > li {
	background: rgba(0,0,0,.1);
	padding: .5em;
	margin: 0;
}

ol > li:nth-child(2n) {
	background: none;
}

img{
	max-width: 30em;
}

video {
	max-width: 30em;
}

/* formulier */
/* 
transition-property: waar de transitie effect op heeft, bijv: background-color, height, widht
transition-duration: kan in ms en s, geeft de tijdsduur aan hoelang een transitie er over doet om te voltooien
transition-timing-function: geeft het tempo aan hoe de transitie veranderd over de tijdsduur, kan voor voor gedefineerd zijn zoals 'ease' of 'linear' of specifieke nummers 'cubic-bezier(nr,nr,nr,nr)'
transition-delay: kan in ms en s, geeft de tijdsduur aan voordat de transitie wordt gestart (getriggert)
transform-scale: verhoudingsgewijze verandering van element
transform-rotate: rotatie
transition shorthand, zitten alle propertys achterelkaar dus bijv. transition: backround-color 3s linear; dat is transition: <transition-property> <transition-duration> <transition-timing-function> <transition-delay>;
*/
form {
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	transition-delay: 0.2s;
}
form:hover {
	padding: 5em;
}

fieldset {
	border: 0;
	border-radius: 1em;
	box-shadow: 0 0 1em gold;
	padding: 1em;
}

legend {
	margin-top: 2em;
	padding: 0;
	font-size: 1.5em;
}
input {
	display: block;
	width: 100%;
	font-size: 1em;
	border-radius: .5em;
	box-shadow: inset .2em .2em .4em rgba(0,0,0,.5);
	border: none;
	transition: .5s;
	margin: .3em 0;
	padding: .2em;
}
input:hover {
	padding: .4em .2em;
}
input:focus {
	box-shadow: inset .1em .1em .1em rgba(0,0,0,.0),
				0 0 0 5px hsla(150,100%,50%,.6),
				0 0 0 5px hsla(0,100%,50%,.6);
	padding: .4em .2em;
}

[type="reset"] {
	transition: 0.5s;
}

[type="reset"]:hover {
	background: red;
}

/* transitions eigenschappen 
- 
*/

