/* algemeen */
html {
	min-height: 100%;
	font: 100%/2.5 helvetica, arial;
}

body{
	background: #FDFDFD;
	margin: 0 auto;
} 

/* code voor navigatie */
nav ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	background: orange;
	overflow: hidden;
}

nav > ul > li {
	float: left;
}

nav a {
	display: block;
	padding: .2em 1em;
	border: solid hsla(0, 100%, 100%, .5);
	border-width: 0 1px 0 0;
	text-decoration: none;
	color: white;
	transition: .3s;
}

nav a:hover {
	background: hsla(0, 100%, 100%, .5);
	color: black;
}

nav a:focus {
	background: hsla(0, 100%, 100%, .5);
	color: black;
}

nav li ul {
	position: absolute;
	opacity: 0;
	height: 0;
	transition: .3s;
}

nav li:hover ul {
	opacity: 1;
	height: auto;
}

nav li:focus ul {
	opacity: 1;
	height: auto;
}
header img {
	width: 45em;
}
/* code voor content */
article {
	display: inline-block;
	vertical-align: top;
}

article section > p:first-letter {
	font-size: 200%;
	font-style: italic;
}

article > section {
	transition: .5s;
}

article > section:hover {
	border: 5px solid orange;
	border-radius: 1.5em;
	padding: 2em;
	margin: 1em;
}

video {
	border-radius: 8em 8em 0 8em;
	width: 100%;
	transition: 1s;
}

video:hover {
	border-radius: 0.2em;
}

article img {
	width: 80%;
}

ol > li {
	background: rgba(0,0,0,.1);
	padding: .5em;
	margin: 0;

}

ol > li:nth-child(2n) {
	background: none;
}

/* code voor nieuwsberichten */
aside {
	display: inline-block;
}

aside p {
	font-size: 0.8em;
}
aside h1 {
	font-weight: bold;
	font-size: 140%;
	text-shadow: 0 0 .1em white;
}
/* code voor formulieren stages projecten */
fieldset {
	border: 0;
	border-radius: 1em;
	box-shadow: 0 0 1em orange;
	padding: 1em;
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	transition-delay: 0.2s;
}
fieldset:hover {
	padding: 3em;
}

legend {
	margin-top: 2em;
	padding: 0;
	font-size: 1.5em;
}
input {
	display: block;
	width: 100%;
	font-size: 1em;
	border-radius: .5em;
	box-shadow: inset .2em .2em .4em rgba(0,0,0,.5);
	border: none;
	transition: .5s;
	margin: .3em 0;
	padding: .2em;
}
input:hover {
	padding: .4em .2em;
}
input:focus {
	box-shadow: inset .1em .1em .1em rgba(0,0,0,.0),
				0 0 0 5px hsla(150,100%,50%,.6),
				0 0 0 5px hsla(0,100%,50%,.6);
	padding: .4em .2em;
}

[type="reset"] {
	transition: 0.5s;
}

[type="reset"]:hover {
	background: red;
}

/* code voor footer content */

footer {
	background: gray;
	border-radius: 1.5em 1.5em 0 0;
	padding: 1em;
	font-size: 0.8em;
}

footer section {
	display: inline-block;
	margin: 2em;
}

footer > h1 {
	color: white;
	font-weight: normal;
}

footer form {
	display: block;
}

footer form > h1 {
	color: white;
	font-weight: normal;
}

footer section ul li ul li:nth-child(2n) {
	background: orange;
	border-radius: 0.5em;
}

footer section ul li ul{
	background: white;
	border-radius: 0.5em;
}

/* code voor responsiveness */
@media (min-width:50px) {
	article img {
		display: none;
	}
	header img {
		display: none;
	}
	video {
		display: none;
	}
	article > section {
		border: 1px;
	}
}

@media (min-width:750px) {
	article { 
		width: 65%;
	}
	aside {
		width: 30%;
	}
	body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1em;
	}
	article img {
		display: inline;
	}
	header img {
		display: inline;
	}
	video {
		display: inline;
	}
	footer form {
		position: absolute;
		top: 8em;
		left: 14.2em;
	}
	footer form > h1{
		display: none;
	}
}

* {
	box-sizing: border-box;
}
/* code voor modenizers */
.no-textshadow h1 {
	font-size: 150%;
	background: orange;
}