/* algemeen */

* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

html {
	min-height: 100%;
	font: 100%/2.5 helvetica, arial;
}

body{
	background: #FDFDFD;
	margin: 0 auto;
} 

article a:link, aside a:link {
	color: orange;
	text-decoration: none;
}

article a:visited, aside a:visited {
	color: orange;
	text-decoration: none;
}

aside > h1 a:link {
	color: white;
	text-decoration: none;
}

aside > h1 a:visited {
	color: white;
	text-decoration: none;
}

/* code voor navigatie */

nav li {
	background-color: orange;
}

nav ul {
	padding: 1em;
}

header img {
	width: 100%;
}
/* code voor content */
article {
	display: inline-block;
	vertical-align: top;
	
	margin: 0 1em 0 1em;
}

article section > p:first-letter {
	font-size: 200%;
	font-style: italic;
}

article img {
	width: 100%;
}

video {
	border-radius: 16em 16em 0 16em;
	width: 100%;
	transition: 1s;
}

video:hover {
	border-radius: 0.2em;
}

article img {
	width: 80%;
	box-shadow: 0.1em 0.1em #888;
}

ol > li {
	background: rgba(0,0,0,.1);
	
	margin: 0;

}

ol > li:nth-child(2n) {
	background: none;
}

/* code voor nieuwsberichten */
aside {
	display: inline-block;
	background: orange;
	border-radius: 0.5em;
	padding: 1em;
}

aside p {
	font-size: 0.8em;
	background: #FDFDFD;
	padding: 1em;
	border-radius: 0.5em;
}

aside > h1:first-of-type {
	font-size: 150%;
	background: #fcc869;
	border-radius: 0.5em;
}

aside h1 {
	font-weight: bold;
	font-size: 120%;
	color: white;
	text-align: center;
}

.twitter-timeline {
	color: black;
}
/* code voor formulieren stages projecten */

legend {
	margin-top: 2em;
	font-size: 1.5em;
}
input {
	display: block;
	width: 100%;
	font-size: 1em;
	border-radius: .5em;
	box-shadow: inset .2em .2em .4em rgba(0,0,0,.5);
	border: none;
	transition: .5s;
	margin: .3em 0;
	padding: .2em;
}
input:hover {
	padding: .4em .2em;
}
input:focus {
	box-shadow: inset .3em .3em .3em orange;
	padding: .4em .2em;
}

[type="reset"] {
	transition: 0.5s;
}

[type="reset"]:hover {
	background: red;
}

/* code voor footer content */
	footer {
		padding: 1em;
		font-size: 0.8em;
	}
	footer section > h1 {
		font-size: 2em;
		font-weight: bold;
	}
	footer section, footer form {
		background: white;
		border-radius: 0.5em;
		padding: 1em;
	} 

/* code voor responsiveness */
@media only screen and (min-width:1em), only screen and (max-device-width:45em) {
	
	nav {
		text-align: center;
		background: #FDFDFD; /* Old browsers */
		display: block;
	}

	iframe {
		width: 100%;
	}

	nav ul ul {
		display: none;
	}


	nav ul {
		padding: 0 20px;
		border-radius: 10px;  
		list-style: none;
		position: relative;
		display: inline-table;
		width: 100%;
	}

	nav ul:after {
		content: ""; 
		clear: 
		both; 
		display: block;
	}

	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #ffaf88 0%, #FFA500 40%);
		background: -moz-linear-gradient(top, #ffaf88 0%, #FFA500 40%);
		background: -webkit-linear-gradient(top, #ffaf88 0%, #FFA500 40%);
	}

	nav ul li:hover a {
		color: #fff;
	}
		
	nav ul li a {
		display: block; 
		padding: 25px 40px;
		color: white; 
		text-decoration: none;
	}

	nav ul ul {
		background: #5f6975; 
		border-radius: 0px; 
		padding: 0;
		display: none;
	}

	nav ul ul li {

		border-top: 1px solid white;
		border-bottom: 1px solid white;
		position: relative;
	}

	nav ul ul li a {
		padding: 15px 40px;
		color: #fff;
	}	
	header img {
		display: none;
	}
	article > section {
		border: 1em;
	}
	* h1 {
		text-align: center;
	}
	fieldset {
		display: block;
		width: 95%;
		margin: 0 auto;
		border: none;
		text-align: center;
	}
}

@media (min-width:46em) {
	nav ul {
		padding: 0 20px;
		border-radius: 10px;  
		list-style: none;
		position: relative;
		width: 100%;
		text-align: center;
	}
	nav ul li {
		font: bold 12px/18px sans-serif;
		display: inline-block;
		position: relative;
		padding: 15px 20px;
		cursor: pointer;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	nav ul li:hover {

	  color: #fff;
	}
	nav ul li ul {
	  padding: 0;
	  position: absolute;
	  top: 48px;
	  left: 0;
	  width: 150px;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transiton: opacity 0.2s;
	  -moz-transition: opacity 0.2s;
	  -ms-transition: opacity 0.2s;
	  -o-transition: opacity 0.2s;
	  -transition: opacity 0.2s;
	}
	nav ul li ul li { 
	  background: orange; 
	  display: block; 
	  color: white;
	  font-weight: normal;
	  text-shadow: 0 -1px 0 #000;
	}
	nav ul li ul li:hover { 
		background: #4b545f; 
	}
	nav ul li:hover ul {
		display: block;
		width: auto;
		opacity: 1;
		visibility: visible;
	}
	nav ul li a {
		display: block; 
		padding: 0px;
		color: white; 
		text-decoration: none;
	}
	nav ul li:first-of-type {
		border-radius: 0.5em 0 0 0.5em;
	}
	nav ul li:last-of-type {
		border-radius: 0 0.5em 0.5em 0;
	}
	nav ul li ul li {
		border-radius: 0.5em;
	}	
	article { 
		width: 55%;
	}
	aside {
		margin-left: 3em;
		width: 30%;
	}
	body {
		max-width: 75em;
		margin: 0 auto;
	}
	header img {
		display: inline;
	}
	* h1 {
		text-align: left;
	}
	fieldset {
		display: block;
		width: 50%;
		margin: 0 auto;
		border: none;
		text-align: left;
	}
	footer form, footer section {
		float: left;
		width: 19%;
	}
	footer section ul li {
		list-style: none;
	}

	footer ul li ul {
		position: relative;
		top: 0;
	}
}
/* code voor modenizers */
.no-boxshadow img {
	font-size: 150%;
	background: orange;
	border: solid 2em red;
}